@import "./../base.less";

.chat-main {
    height: 600px;
    .chat-panel {
        height: calc(100% - 100px);
        width: calc(100% - 40px);
        background: #eeeeee;
        border-bottom: 1px solid #000;
        padding: 20px;
        .chat-item {
            clear: both;
            min-height: 20px;
            margin-bottom: 10px;
            min-height: 40px;
            .chat-name {
                line-height: 40px;
                width: 60px;
                text-align: right;
                margin-right: 20px;
                height: 40px;
                font-size: 20px;
            }
            .chat-msg {
                background: #fff;
                padding: 10px 15px;
            }
            div {
                float: left;
            }
            &.mine-msg {
                div {
                    float: right;
                }
                .chat-name {
                    text-align: left;
                    margin-left: 20px;
                    margin-right: 0;
                }
            }
        }
        .mine-msg {
            text-align: right;
        }
    }
    .input-msg {
        border: none;
        height: 100px;
        textarea {
            height: 100%;
            width: 100%;
            border: none;
            padding: 10px;
        }
        .chat-send {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}
