.chat-main {
    height: 600px;
    .chat-panel {
        height: calc(100% - 100px);
        width: 100%;
        background: #eeeeee;
        border-bottom: 1px solid #000;
        .mine-msg {
            text-align: right;
        }
    }
    .input-msg {
        border: none;
        height: 100px;
        textarea {
            height: 100%;
            width: 100%;
            border: none;
            padding: 10px;
        }
        .chat-send {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}
